@font-face {
    font-family: centuryGothic;
    src: url(centurygothic.ttf);
  }



body {
    height: 100vh;
    margin-top: 0px;
    font-family:centuryGothic;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

